.container {
  display: flex;
  min-width: 400px;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress {
  width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .container {
    padding: 0 1rem;
    min-width: 100%;
    width: 100%;
  }
}
